// COLORS

$color-primary:#fff;
$color-secondary:#FF5A30;
$color-tertiary:#F4F5F7;
$color-fourth: #1E212C;

$color-text-primary: #1E212C;
$color-text-secondary: #fff;
$color-text-tertiary: #FF5A30;
$color-text-fourth: #787A80;
$color-text-footer: #ffffff99;

///// FONTS
$default-size-text: 1.6rem;