doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon' type='image/png' href='../img//title.png')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Ubuntu:wght@400;700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='./css/sass/main.scss')
  title NEWS
body
  include ./partion/header
  main.main
    article.article-more-news
      .container
          ul.breadcrumbs
              li.breadcrumbs__item
                  a.breadcrumbs__link(href="index.pug") 
                      |Homepage
              li.breadcrumbs__item
                  a.breadcrumbs__link(href="news.pug") 
                      |News
              li.breadcrumbs__item
                  a.breadcrumbs__link(href="more-news.pug") 
                      |How to Build Climate Change-Resilient Infrastructure
          h1.title.title--full
              |How to Build Climate Change-Resilient Infrastructure
          .more-news__info
              .news__inner-info
                  span.news__type
                      | Industry News
                  .news__date-block  
                      img(src="../img/svg/clock.svg", alt="clock icon")                    
                      span
                          | June 24, 2020
                  a.news__link-comments(href='more-news.pug')
                      svg.news__comments-icon
                          use(xlink:href='../img/svg/sprite1.svg#icon-chat')
                      span.news__qty-comments
                          | 4 comments
              .more-news__social 
                  a.more-news__social-link(href="#" target="_blank") 
                      svg.more-news__icon
                          use(xlink:href='../img/svg/sprite1.svg#icon-facebook')                    
                  a.more-news__social-link(href="#" target="_blank") 
                      svg.more-news__icon
                          use(xlink:href='../img/svg/sprite1.svg#icon-link')
                  a.more-news__social-link(href="#" target="_blank") 
                      svg.more-news__icon
                          use(xlink:href='../img/svg/sprite1.svg#icon-twitter')
    article.more-news   
        img.more-news__top-img(src="../img/news/news-10.jpg", alt="news photo")        
        .more-news__container.mb-8
          h5.more-news__inner-title
            |Vulputate vitae pellentesque scelerisque luctus consequat mattis pellentesque dui odio. Interdum aenean sit malesuada ornare sed gravida rhoncus, congue. Purus auctor nullam diam quis est hendrerit ac euismod. 
          p.more-news__text 
            pre 
              |At facilisi sapien posuere eget nunc senectus proin nullam. Tortor senectus in et sagittis, vitae diam cras dignissim. Varius adipiscing eget diam nisi. Orci, consectetur vulputate metus ornare pharetra, neque, fermentum. Vel nec rhoncus, non nunc, neque in massa. Feugiat leo nam nisl lacinia amet, odio. Mi varius viverra risus vel.#[br]

              |Amet, morbi sed pharetra, elit eget mi potenti. Condimentum orci interdum feugiat lectus libero duis. Nisl massa, elementum varius sit. Nunc felis, porttitor aliquam urna, accumsan et sed. Aliquet non sed duis diam vehicula rhoncus. In dictum nullam tincidunt semper pellentesque purus morbi sed. Ut aliquet velit pharetra, nisi nunc, non. 
          blockquote.more-news__blockquote
            img(src="../img/svg/quote.svg", alt="qoute icon")
            p 
              |Dapibus nec vitae ante mattis. Aliquam phasellus ac dui augue in. Sed aliquet in egestas hac at proin sed quam. Etiam aliquet sagittis non, massa cum pulvinar. Et in leo, tempus purus vestibulum ut blandit et mi. Odio massa purus vel praesent arcu enim elit felis viverra.
          p.more-news__text 
            |Mauris amet arcu nisl vel dictum tellus. Sed rhoncus, ut sed id ut erat mattis. Vitae mus blandit in neque amet non fringilla blandit:
          .constructive__text
              .constructive__inner-text
                img(src='../img/svg/check2.svg' alt='icon check')
                span 
                  |A fermentum in morbi pretium aliquam adipiscing donec tempus.
              .constructive__inner-text 
                img(src='../img/svg/check2.svg' alt='icon check')
                span 
                  |Vulputate placerat amet pulvinar lorem nisl.
              .constructive__inner-text
                img(src='../img/svg/check2.svg' alt='icon check')
                span 
                  |Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
              .constructive__inner-text
                img(src='../img/svg/check2.svg' alt='icon check')
                span 
                  |Etiam duis lobortis in fames ultrices commodo nibh.
          p.more-news__text  
            |Enim, vel massa odio diam. Blandit massa gravida feugiat elementum id nec sed leo. Nisi in ornare lectus eget. Urna, risus, consectetur volutpat lorem purus. Velit aliquet nibh vitae maecenas. Consectetur neque ut aliquam eros, purus enim dignissim aenean vitae. Ultrices fames augue mattis tortor est justo, pharetra nibh risus. Facilisi at porttitor volutpat natoque proin amet, nulla. Vivamus ut lobortis sagittis curabitur tellus convallis eget netus vitae.         
          .more-news__social 
            span 
              |Share:
            a.more-news__social-link(href="#" target="_blank") 
                svg.more-news__icon
                    use(xlink:href='../img/svg/sprite1.svg#icon-facebook')                    
            a.more-news__social-link(href="#" target="_blank") 
                svg.more-news__icon
                    use(xlink:href='../img/svg/sprite1.svg#icon-link')
            a.more-news__social-link(href="#" target="_blank") 
                svg.more-news__icon
                    use(xlink:href='../img/svg/sprite1.svg#icon-twitter')          
        .more-news__container 
          .comments
            h2.comments__title 
              |4&nbsp;comments
            .comments__card 
              .comments__autor-info
                span.comments__autor-name 
                  |Devon Lane
                span.comments__date 
                  |July 15, 2020
              .comments__text 
                p.comments__paragraph 
                  a.comment__link-autor(href="#") 
                  |Phasellus varius faucibus ultrices odio in. Massa neque dictum natoque ornare rutrum malesuada et phasellus. Viverra natoque nulla cras vel nisl proin senectus. Tortor sed eleifend ante tristique felis sed urna aliquet. Suspendisse fames egestas sed duis purus diam et.
                a.comments__reply(href="#") 
                  img(src="../img/svg/reply.svg", alt="reply icon")
                  span 
                    |Reply
            .comments__card 
              .comments__autor-info
                span.comments__autor-name 
                  |Annette Black
                span.comments__date 
                  |1 day ago
              .comments__text 
                p.comments__paragraph 
                  a.comment__link-autor(href="#") 
                    |@Devon Lane
                  | Egestas fermentum natoque sollicitudin mauris. Facilisis praesent urna sed rhoncus quis pharetra pellentesque erat sagittis.
                a.comments__reply(href="#") 
                  img(src="../img/svg/reply.svg", alt="reply icon")
                  span 
                    |Reply
            .comments__card 
              .comments__autor-info
                span.comments__autor-name 
                  |Albert Flores
                span.comments__date 
                  |July 7, 2020
              .comments__text 
                p.comments__paragraph 
                  a.comment__link-autor(href="#") 
                  |Libero commodo sit dui ac proin. Penatibus ultricies at adipiscing mauris nunc. Fames faucibus nisl duis id diam.
                a.comments__reply(href="#") 
                  img(src="../img/svg/reply.svg", alt="reply icon")
                  span 
                    |Reply
            .comments__card.mb-12 
              .comments__autor-info
                span.comments__autor-name 
                  |Marvin McKinney
                span.comments__date 
                  |June 28, 2020
              .comments__text 
                p.comments__paragraph 
                  a.comment__link-autor(href="#") 
                  |Ullamcorper nibh sed ac ipsum nunc imperdiet rhoncus. Quam donec habitant nibh sit consequat erat libero, tincidunt. Eros ut aliquam proin et duis. Mauris, egestas congue nibh dui a nulla.
                a.comments__reply(href="#") 
                  img(src="../img/svg/reply.svg", alt="reply icon")
                  span 
                    |Reply
            h2.comments__title 
              |Leave your comment
            form#form-comments.form-comments(action="/")
              .form-comments__info
                label.form-comments__label(for="name")
                  |Name*
                  input.form-comments__input(type="text" id="name" placeholder="Your name" required)
                label.form-comments__label(for="email")
                  |Email*
                  input.form-comments__input(type="email" id="email" placeholder="Your working email" required)
              label.form-comments__label(for="textarea-comments") 
                |Your comment*
              textarea#textarea-comments.form-comments__textarea(name="textarea", rows="5" required placeholder="Type comment here") 
              button.form-comments__btn(type="submit" for="form-comments")
                |Post comment
                    

    article.article-global-form
      .container
        .content.content--form
          form#global-form.form-global(action='#' method='post' name='form-global')
            h3.form-global__title
              | A quick way to discuss details
            label.form-global__label(for='name')
              | Name*
              input.form-global__input(type='text' name='name' placeholder='Your name' required='')
            label.form-global__label(for='telephone')
              | Phone*
              input.form-global__input(type='tel' name='telephone' placeholder='Your phone number' required='')
            label.form-global__label(for='email')
              | Email
              input.form-global__input(type='email' name='email' placeholder='Your working email')
            label.form-global__label(for='email')
              | Message*
              input.form-global__input(type='text' name='Message' placeholder='Your message' required='')
            .form-global__block-agreement
              input#checkbox-inf.form-global__checkbox(type='checkbox' required)
              label.form-global__label.form-global__label--checkbox(for='checkbox-inf')
                | I agree to receive communications from Createx Construction Bureau.
            button.form-global__btn(type='submit' form='global-form')
              | send request
  include ./partion/footer