.facts {
    margin: 0 auto 18rem;
    padding: 0 1.5rem;
    max-width: 126rem;

    @include respond (tab-land){
        margin: 0 auto 9rem;
    }

    &__title {
        margin-bottom: 6rem;
    }

    &__statistic{
        display: flex;
        justify-content: center;
    }

    &__inner-card {
        &:not(:last-child){
            margin-right: 4.8rem;
        }
    }

    &__diagram{
        width: 14.8rem;
        height: 14.8rem;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            background: white;
            border-radius: inherit;

        }

        & span{
            font-weight: 700;
            position: relative;
            z-index: 2;
            font-size: 3.2rem;
        }
    }

    &__text {
        text-align: center;
    }
}


.item--1 {
    background-image: conic-gradient(#F89828 90%, #FDE0BF 10%);
}

.item--2 {
    background-image: conic-gradient(#F52F6E 75%, #FFF7F9 25%);
}

.item--3 {
    background-image: conic-gradient(#5A87FC 85%, #CDDBFE 15%);
}

.item--4 {
    background-image: conic-gradient(#03CEA4 100%, #ffffff 0%);
}