.supported{ 
    margin: 0 auto;
    padding: 0 1.5rem 12.1rem;
    max-width: 126rem;
    position: relative;

    &--about {
        padding: 0 1.5rem;
        margin-bottom: 18rem;

        @include respond (tab-land){
            margin-bottom: 8rem;
        }
    }

    &__title {
        margin-bottom: 6rem;

        &--about {
            margin-bottom: 2.4rem;
        }
    }

    &__subtitle {
        font-size: 1.8rem;
        margin-bottom: 6rem;
        text-align: center;
    }

    &__container {
        margin-bottom: 17rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 11rem;

        &--pricing {
            margin-bottom: 0;
        }

        @include respond (tab-land){
            margin-bottom: 8rem;
        }
    }

    &__block-partner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 5rem;
        flex: 1 0;
        max-width: 61.5rem;
    }

    &__content {
        max-width: 60rem;

        @include respond (tab-land){
            margin: 0 auto;
        }
    }

    &__inner-title{
        font-size: 4.6rem;
        line-height: 1.3;
        font-weight: 700;
        margin-bottom: 6rem;
    }

    &__user-icon {
        border-radius: 50%;
        margin-bottom: 2.4rem;
    }

    &__user-text{
        color: #424551;
        margin-bottom: 2.4rem;
    }

    &__user-name{
        font-size: $default-size-text;
        font-weight: 700;
        line-height: 1.6;
    }

    &__inner-info{
        display: flex;
        align-items: center;

        & span {
            font-size: 1.4rem;
            color: $color-text-fourth;
            margin-right: auto;
        }
    }

    &__photo{
        position: absolute;
        bottom: -6rem;
        right: 1.5rem;
        z-index: 5;
        max-width: 100%;
        height: auto;

        @include respond (tab-land){
            display: none;
        }
    }


}